<h1>Search Results</h1>

<table border="1">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th>Poster</th>
        </tr>
    </thead>
    <tbody>
        <% movies.Search.forEach(function(movie) { %>
            <tr>
                <td> <a href="/details/<%=movie.imdbID%>"> <%=movie.Title%> </a> </td>
                <td> <%=movie.Year%></td>
                <td> <%=movie.Type%></td>
                <td> <img src="<%=movie.Poster%>" alt="" srcset=""> </td>
            </tr>
        <% }); %>
    </tbody>
</table>